.top-nav {
    background: #332d2d;
}

.tintuc {
    color: #310bff !important;
    border-bottom: 1px solid #310bff !important;
}

.carosel-chitiet {
    margin-top: 110px;
}

a {
    text-decoration: none !important;
}
