footer {
    background-color: #2d51a3;
    color: white;
    font-family: 'IBM Plex Serif', serif;
}

footer .container {
    padding-top: 25px;
}

footer b {
    color: white;
}

footer li {
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

section .section-title {
    text-align: center;
    color: #007b5e;

    text-transform: uppercase;
}

#footer {
    background: #71a3bb !important;
}

#footer h5 {
    padding-left: 10px;
    border-left: 1px solid #eeeeee;
    padding-bottom: 10px;
    margin-bottom: 50px;
    color: #28276f;
    font-size: 198%;
    font-family: Serif;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width: 767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.social-btn {

    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 60px;
    opacity: 1;
    z-index: 99;
}

.sale-tour-mien-nam {
    margin-left: 20px;
    color: red;
}
